body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: #111111;
  font-size: 28px;
  font-weight: 115;
  line-height: 29px;
  margin-bottom: 2px;
  padding-top: 10px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(58, 56, 56);
  font-size: 16px;
  font-weight: 115;
  line-height: 20px;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  padding: 60px;
  border: 1px solid #dadde1;
  border-radius: 80px;
  background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 74px;
  width: 74px;
  margin-bottom: -30px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -20px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 40px;
}

.weather-forecast h3 {
  color: rgb(70, 67, 67);
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(83, 81, 81);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.btn-primary {
  color: #ffffff;
  background-color: #6080da;
  border: #90abf7;
}
